<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<appSettings configSource="AppSettings.config" />
	<connectionStrings configSource="ConnectionStrings.config" />-->
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Properties.Settings>
            <setting name="NorthwindConnectionString" serializeAs="String">
                <value>Data Source=DINO-PC;Initial Catalog=Northwind;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</value>
            </setting>
            <setting name="NewBanksys" serializeAs="String">
                <value>Data Source=DINO-PC;Initial Catalog="IAN1";Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</value>
            </setting>
            <setting name="BankSysConnectionString" serializeAs="String">
                <value>Data Source=DINO-PC;Initial Catalog="IAN1";Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</value>
            </setting>
            <setting name="AdventureWorks2019" serializeAs="String">
                <value>Data Source=DINO-PC;Initial Catalog="ADVENTUREWORKS2019";Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</value>
            </setting>
            <setting name="PubsConnectionString" serializeAs="String">
                <value>Data Source=DINO-PC;Initial Catalog="PUBS";Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</value>
            </setting>
            <setting name="UseScrollViewer" serializeAs="String">
                <value>TRUE</value>
            </setting>
            <setting name="ReplaceFldNames" serializeAs="String">
                <value>TRUE</value>
            </setting>
            <setting name="UseFlowDoc" serializeAs="String">
                <value>TRUE</value>
            </setting>
            <setting name="UseMagnify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppRootPath" serializeAs="String">
                <value>W:\\NewWpfDev\\bin\\Debug\\</value>
            </setting>
            <setting name="FlowDocFont" serializeAs="String">
                <value />
            </setting>
        </Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Properties.Settings>
            <setting name="xBankSysConnectionString" serializeAs="String">
                <value>Data Source=DINO-PC;Initial Catalog="C:\USERS\IANCH\APPDATA\LOCAL\MICROSOFT\MICROSOFT SQL SERVER LOCAL DB\INSTANCES\MSSQLLOCALDB\IAN1.MDF";Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</value>
            </setting>
        </Properties.Settings>
    </applicationSettings>
</configuration>