<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UseFlowDoc" value="TRUE"/>
		<add key="AppRootPathW" value="W:\\NewWpfDev\\bin\\Debug\\"/>
		<add key="NewWpfDev=C" value="C:\\users\\ianch\\Source\\repos\\NewWpfDev\\bin\\Debug\\"/>
		<add key="NewWpfDev=W" value="W:\\NewWpfDev\\bin\\Debug\\"/>
		<add key="FlowDocFontFamily" value="Nirmala UI"/>
		<add key="FlowDocFontStyle" value="Normal"/>
		<add key="FlowDocFontSize" value="13"/>
		<add key="FlowDocFontColor" value="Black0"/>
		<add key="FlowDocFontFamily2" value="Arial"/>
		<add key="FlowDocFontStyle2" value="Italic"/>
		<add key="FlowDocFontSize2" value="14"/>
		<add key="FlowDocFontColor2" value="Red4"/>
	</appSettings>
</configuration>