<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Ian1" connectionString="Data Source=DINO-PC;Initial Catalog=IAN1;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
		<add name="NorthwindConnectionString" connectionString="Data Source=DINO-PC;Initial Catalog=Northwind;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
		<add name="AdventureWorks2019" connectionString="Data Source=DINO-PC;Initial Catalog=ADVENTUREWORKS2019;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
		<add name="PubsConnectionString" connectionString="Data Source=DINO-PC;Initial Catalog=PUBS;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
		<add name="BankSysConnectionString" connectionString="Data Source=DINO-PC;Initial Catalog=IAN1;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</connectionStrings>
</configuration>